* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url("image/sea.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url("image/sun.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("image/rock.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
